/* BODY */

body{
	overflow: auto;
}

/* HEADER */

header{
	background-color: #555;
    color: white;
	z-index: 0;
	
	text-align: center;
	font-size: 24px;
	
    height: 70px;
    line-height: 70px;
	
	position: fixed;
	top: 0;
	left: 250px;
	/* Firefox */
	width: -moz-calc(100% - 250px);
	/* WebKit */
	width: -webkit-calc(100% - 250px);
	/* Opera */
	width: -o-calc(100% - 250px);
	/* Standard */
	width: calc(100% - 250px);
	
	overflow: hidden;
	word-wrap: break-word;
}

/* CORPS */

#corps {
	position: absolute;
	
	top: 70px;
	left: 250px;
	/* Firefox */
	width: -moz-calc(100% - 280px);
	/* WebKit */
	width: -webkit-calc(100% - 280px);
	/* Opera */
	width: -o-calc(100% - 280px);
	/* Standard */
	width: calc(100% - 280px);
	height: auto;
	
	padding: 0px 10px 20px 20px;

	background-color: white;
	z-index: -1;
	word-wrap: break-word;
}

li.arrow {
	list-style-type: none;
	background: url(img/arrow.png) no-repeat 0 0.40em;
	
	padding-left: 24px;
}

p{
    position : relative;
    padding : 5px;
    margin : 5px;
    right: 5px;
    text-indent: 45px;
    text-align: justify;
    text-justify: inter-word;
	font-size: 0.90em;
}

p.ref{
    position : relative;
    padding : 0px;
    margin : 0px;
    right: 0px;
    text-indent: 0px;
    text-align: justify;
    text-justify: inter-word;
}

#center{
	position: relative;
	
	margin: auto;
	width: 80%;
}

/* MENU BAR */

nav{
	position: fixed;
	
	float: left;
	
	height: 100%;
	width: 248px;
	top:  0;
	left: 0;
	right: 0;
	bottom: 0;
	
	overflow-y: auto;
	overflow-x: hidden;
	
	background-color: #f1f1f1;
	border-right: 2px solid;
	
	z-index: 0;
}

ul.menuBar{
	position: relative;
    list-style-type: none;
    padding: 0;
    width: 100%;
	height : auto;
    background-color: #f1f1f1;
}

li.menuBar a {
    display: block;
    color: #000;
    padding: 8px 8px;
    text-decoration: none;
}

li.menuBar a:hover:not(.titre) {
    background-color: #555;
    color: white;
}

li.menuBar.titre.equipe{
	background-color: #173935;
	color: white;
    display: block;
    text-decoration: none;
	
    padding: 8px 8px;
}

li.menuBar.titre {
    background-color: #4CAF50;
    color: white;
    display: block;
	
	padding: 8px 8px;
}

/* Image */

.imagecontainer{
	position: relative;
	
	display: inline-block;                  /* Transforme l'élément "bloc" en "inline" */
    vertical-align: middle;                 /* Ajuste le centrage vertical */
	
	margin: 0 auto;             /* Centre le block horizontalement */
    width: 50%;
}

.container.image{
    position:relative;
	height : auto;
	background-color: white;
	padding:0px 5px 0px 5px;
}
img.resize{
	width: 200px;
	height: auto;
}
